footer
  .container
    .row
      .col-md-12.col-lg-12
        .wow.shake(data-wow-delay="0.4s")
          .page-scroll.marginbot-30
            a#totop.btn.btn-circle(href="#intro")
              i.fa.fa-angle-double-up.animated

      p &copy; ReNew. All rights reserved.
      .credits
        a(href="https://bootstrapmade.com/free-one-page-bootstrap-themes-website-templates/") One Page Bootstrap Themes
        | &nbsp;by&nbsp;
        a(href="https://bootstrapmade.com/") BootstrapMade
      