extends base/layout

append script
  script(src="js/url-params.js")

append script-footer
  script(src="js/search.js")

block content
  section.search-container
    .slogan
      h2
        span.text_color Digite o Ingrediente ou Receita
      h3
        input#search-text(type="text")
      button.btn.btn-danger.btn-lg.scroll(onclick="searchRecipe()") Pesquisar
    .nulo &nbsp, &nbsp
  section
    ul.search-results
  section
    article.search-result